@font-face {
  font-family: "South Park";
  src: url(font/sp.woff);
}
@font-face {
  font-family: "Bebas Neue";
  src: url(font/bn.otf);
}
@font-face {
  font-family: "Quicksand";
  src: url(font/Quicksand-Regular.otf);
}
/* line 16, ../sass/main.scss */
html, body {
  margin: 0;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Helvetica";
}

/* line 23, ../sass/main.scss */
body {
  background-image: url("../img/motif.png");
  background-repeat: repeat;
}

/* line 28, ../sass/main.scss */
h1, h2, h3 {
  font-family: "South Park";
  color: #000;
}

/* line 33, ../sass/main.scss */
h1, h2 {
  line-height: 1.5em;
}

/* line 37, ../sass/main.scss */
p {
  line-height: 1.5em;
}

/* line 41, ../sass/main.scss */
h2 {
  line-height: em(25);
}

/*
*	GENERAL
*/
/* line 65, ../sass/main.scss */
.block {
  display: block;
  margin: 0 auto;
}

/* line 70, ../sass/main.scss */
#navigation {
  background-color: #1fb22c;
  height: auto;
  position: relative;
}
/* line 75, ../sass/main.scss */
#navigation .bandeau_top {
  height: 4.5em;
}
/* line 78, ../sass/main.scss */
#navigation .bandeau_top #logo {
  display: block;
  width: 40px;
  height: 42px;
  background-image: url("../img/logo_mini.png");
  background-repeat: no-repeat;
  float: left;
  margin: 10px 0 0 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 89, ../sass/main.scss */
#navigation .bandeau_top .traits {
  cursor: pointer;
  float: right;
  position: relative;
  padding: 20px;
  top: -10px;
  right: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 98, ../sass/main.scss */
#navigation .bandeau_top .traits span {
  width: 29px;
  height: 2px;
  background-color: #000;
  display: block;
  margin-top: 8px;
}
/* line 108, ../sass/main.scss */
#navigation .menu_mobile {
  height: 360px;
  display: none;
  margin: 0;
  padding: 0;
}
/* line 114, ../sass/main.scss */
#navigation .menu_mobile li {
  list-style: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
/* line 120, ../sass/main.scss */
#navigation .menu_mobile li i {
  font-size: 1.5em;
  margin-right: 20px;
  color: white;
  position: absolute;
  top: 20px;
  left: 55px;
}
/* line 129, ../sass/main.scss */
#navigation .menu_mobile li a {
  padding: 25px 0px;
  width: 100%;
  display: block;
  border-top: solid 1px black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125em;
}
/* line 139, ../sass/main.scss */
#navigation .menu_mobile li a:active {
  background-color: #14711c;
}
/* line 145, ../sass/main.scss */
#navigation .menu_mobile li:last-child a {
  padding: 25px 0px;
}

/* line 153, ../sass/main.scss */
.menu {
  display: none;
}

/* line 158, ../sass/main.scss */
#container h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 165, ../sass/main.scss */
.button_red {
  background-color: #e64d3c;
  height: 50px;
  width: 275px;
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white;
  font-family: "Bebas Neue";
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: none;
  font-size: 1.6875em;
  border: solid 1px #e64d3c;
}
/* line 182, ../sass/main.scss */
.button_red div {
  float: left;
  background-color: #d42e1b;
  width: 35px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 191, ../sass/main.scss */
.button_red div span {
  background-image: url("../img/fleche_button.png");
  background-repeat: no-repeat;
  display: block;
  width: 12px;
  height: 23px;
  position: absolute;
  top: 13px;
  left: 13px;
}
/* line 202, ../sass/main.scss */
.button_red div i {
  top: 16px;
  position: relative;
  font-size: 1.25em;
  color: white;
}

/* line 212, ../sass/main.scss */
a.button_red {
  height: 35px;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 0px;
}

/*
*	HOME
*/
/* line 225, ../sass/main.scss */
.device {
  width: 100%;
  margin: 5px auto;
  position: relative;
  height: 250px;
}
/* line 231, ../sass/main.scss */
.device .swiper-container {
  width: 100%;
  height: 80%;
}
/* line 236, ../sass/main.scss */
.device .swiper-slide {
  position: relative;
}
/* line 240, ../sass/main.scss */
.device .arrow-left, .device .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
  z-index: 2;
  display: none;
}
/* line 250, ../sass/main.scss */
.device .arrow-left {
  background: url(../img/arrows.png) no-repeat left top;
  left: 10px;
}
/* line 254, ../sass/main.scss */
.device .arrow-right {
  background: url(../img/arrows.png) no-repeat left bottom;
  right: 10px;
}

/* line 260, ../sass/main.scss */
.title {
  font-size: 1.5625em;
  margin-bottom: 10px;
}

/* line 264, ../sass/main.scss */
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}

/* line 272, ../sass/main.scss */
.swiper-pagination-switch {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: transparent;
  border: solid 1px #24ae5f;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}

/* line 282, ../sass/main.scss */
.swiper-active-switch {
  background-color: #24ae5f;
}

/* line 286, ../sass/main.scss */
.img_head {
  margin: 0 auto;
  max-width: 1200px;
}
/* line 289, ../sass/main.scss */
.img_head img {
  width: 100%;
}

/* line 295, ../sass/main.scss */
.persos .choose_perso {
  display: none;
}

/* line 300, ../sass/main.scss */
.bg {
  padding: 20px;
}
/* line 302, ../sass/main.scss */
.bg h2 {
  text-align: center;
}
/* line 307, ../sass/main.scss */
.bg.bg_perso h3 {
  text-transform: uppercase;
}
/* line 311, ../sass/main.scss */
.bg.bg_perso ul li {
  list-style: none;
}
/* line 317, ../sass/main.scss */
.bg .bg_picture {
  text-align: center;
}
/* line 319, ../sass/main.scss */
.bg .bg_picture img {
  height: 220px;
}
/* line 324, ../sass/main.scss */
.bg.bg_yellow {
  background-color: #f1dc0d;
  margin-top: 50px;
  margin-bottom: 0px;
}
/* line 329, ../sass/main.scss */
.bg.bg_yellow .yellow_picture {
  float: left;
  margin: 10px;
}
/* line 334, ../sass/main.scss */
.bg.bg_bluesky {
  background-color: #8be4e3;
}
/* line 337, ../sass/main.scss */
.bg.bg_blue {
  background-color: #4a6398;
}
/* line 340, ../sass/main.scss */
.bg.bg_red {
  background-color: #c50a36;
}
/* line 343, ../sass/main.scss */
.bg.bg_green {
  background-color: #1fb22c;
}
/* line 346, ../sass/main.scss */
.bg.bg_orange {
  background-color: #da5a00;
}

/* line 351, ../sass/main.scss */
.blindtest {
  display: block;
}

/*
*	BLINDTEST
*/
/* line 359, ../sass/main.scss */
.picture_blindtest {
  width: 300px;
  margin: 0 auto;
}
/* line 363, ../sass/main.scss */
.picture_blindtest img {
  width: 100%;
}

/* line 368, ../sass/main.scss */
.result_blindtest {
  display: none;
  text-align: center;
  margin: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 374, ../sass/main.scss */
.result_blindtest p {
  font-size: 1.25em;
}

/* line 379, ../sass/main.scss */
.launch_blindtest {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 385, ../sass/main.scss */
.block_blindtest {
  display: none;
  margin: 50px 0px;
}
/* line 389, ../sass/main.scss */
.block_blindtest li {
  list-style: none;
  display: none;
}
/* line 393, ../sass/main.scss */
.block_blindtest li button {
  font-family: "Bebas Neue";
  display: block;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #a58680;
  padding: 20px 0px;
  width: 270px;
  color: white;
  border: solid 1px #a58680;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 1.375em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 69px;
}

/* line 411, ../sass/main.scss */
.what_answer {
  position: absolute;
  top: 500px;
  left: 710px;
  display: none;
}

/* line 420, ../sass/main.scss */
.pause_player {
  position: absolute;
  cursor: pointer;
  top: 550px;
  left: 200px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: none;
  border: solid 10px grey;
  background-color: red;
  -moz-box-shadow: 5px 5px 20px 0 #000;
  -webkit-box-shadow: 5px 5px 20px 0 #000;
  box-shadow: 5px 5px 20px 0 #000;
}
/* line 437, ../sass/main.scss */
.pause_player.pause_button:before, .pause_player.pause_button:after {
  content: "";
  width: 5px;
  height: 40px;
  background-color: white;
  position: absolute;
  left: 24px;
  top: 16px;
}
/* line 446, ../sass/main.scss */
.pause_player.pause_button:after {
  left: 44px;
}
/* line 452, ../sass/main.scss */
.pause_player.play_button:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 22px 37px;
  border-color: transparent transparent transparent white;
  position: absolute;
  left: 23px;
  top: 13px;
}
/* line 465, ../sass/main.scss */
.pause_player:hover {
  -moz-box-shadow: 0px 0px 0px 0 #000;
  -webkit-box-shadow: 0px 0px 0px 0 #000;
  box-shadow: 0px 0px 0px 0 #000;
}

/*
*	GALLERY
*/
/* line 474, ../sass/main.scss */
.div_select_gallery {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
}
/* line 480, ../sass/main.scss */
.div_select_gallery select {
  border: solid 2px #e64d3c;
  padding: 7px 13px;
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  font-size: 1.3125em;
  width: 240px;
}
/* line 489, ../sass/main.scss */
.div_select_gallery label {
  font-size: 1.125em;
  margin-right: 12px;
  width: 30px;
  display: inline-block;
}

/* line 497, ../sass/main.scss */
.center {
  text-align: center;
}

/* line 501, ../sass/main.scss */
.gallery {
  padding: 0;
  text-align: center;
  position: relative;
}
/* line 506, ../sass/main.scss */
.gallery li {
  width: 300px;
  display: inline-block;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  position: relative;
  top: 0px;
  left: 0px;
}
/* line 514, ../sass/main.scss */
.gallery li img {
  width: 100%;
}

/* Calendrier */
/* line 522, ../sass/main.scss */
#intro_calendar {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

/* line 528, ../sass/main.scss */
#miniatures {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* line 534, ../sass/main.scss */
.date {
  display: none;
  width: 200px;
  position: relative;
  margin-right: 42px;
  margin-bottom: 50px;
}
/* line 541, ../sass/main.scss */
.date img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

/* line 546, ../sass/main.scss */
#intro_calendar p {
  padding: 20px;
}

/* line 550, ../sass/main.scss */
#overlay {
  display: none;
  background-color: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .80;
  z-index: 9999;
}

/* line 562, ../sass/main.scss */
.popup {
  display: none;
  border: solid 2px #000;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99999;
}

/* line 572, ../sass/main.scss */
.titre {
  width: 100%;
  height: 70px;
  background-color: #24ae5f;
  padding: 10px;
  border-bottom: solid 2px #000;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 581, ../sass/main.scss */
.titre h2 {
  color: #fff;
}

/* line 586, ../sass/main.scss */
.detail {
  padding: 10px;
}

/* line 590, ../sass/main.scss */
.image {
  display: inline-block;
}
/* line 593, ../sass/main.scss */
.image img {
  width: 300px;
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 601, ../sass/main.scss */
.info {
  display: inline-block;
  vertical-align: top;
}
/* line 605, ../sass/main.scss */
.info h3 {
  display: inline-block;
}
/* line 609, ../sass/main.scss */
.info p {
  display: inline-block;
  margin-left: 20px;
}

/* line 615, ../sass/main.scss */
.description {
  width: 100%;
}

/* line 619, ../sass/main.scss */
img.btn_close {
  float: right;
  margin: -55px -55px 0 0;
}

/* line 624, ../sass/main.scss */
.date_m {
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}
/* line 630, ../sass/main.scss */
.date_m img {
  border: solid 3px #24ae5f;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 638, ../sass/main.scss */
.info_m {
  color: #fff;
  background: #24ae5f;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 23px;
  width: 100%;
  font-family: 'South Park';
  margin-top: -4px;
  position: relative;
}

/* line 649, ../sass/main.scss */
.info_titre_m {
  margin-right: 20px;
}

/* line 653, ../sass/main.scss */
.info_btn_m {
  position: absolute;
  top: 7px;
  right: 10px;
  border: solid 2px #fff;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 661, ../sass/main.scss */
.info_btn_m img {
  width: 40px;
  top: 3px;
  padding: 5px;
  position: relative;
}

/* line 670, ../sass/main.scss */
.rotate {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/* line 675, ../sass/main.scss */
.detail_m {
  background: #fff;
  border: solid 3px #24ae5f;
  position: relative;
  display: none;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 684, ../sass/main.scss */
.detail_m h3 {
  margin-bottom: 5px;
}

/*
*	CONTACT
*/
/* line 696, ../sass/main.scss */
#contact h2 {
  text-align: center;
}

/* line 701, ../sass/main.scss */
form {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 707, ../sass/main.scss */
form .style_input {
  margin: 10px 0;
}
/* line 710, ../sass/main.scss */
form .style_input.style_radio {
  height: 150px;
  position: relative;
}
/* line 714, ../sass/main.scss */
form .style_input.style_radio input {
  margin-top: 15px;
  margin-left: 15px;
}
/* line 720, ../sass/main.scss */
form .style_input label {
  display: block;
  font-size: 1.25em;
  margin: 5px 0;
}
/* line 726, ../sass/main.scss */
form .style_input input[type=text], form .style_input textarea {
  width: 300px;
  border: solid 1px #1fb22c;
  box-shadow: none;
  padding: 12px 12px 12px 8px;
  font-size: 1.125em;
  resize: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 736, ../sass/main.scss */
form .style_input textarea {
  height: 180px;
}

/* line 742, ../sass/main.scss */
.div_letter {
  width: 300px;
}
/* line 745, ../sass/main.scss */
.div_letter img {
  width: 100%;
}

/* line 750, ../sass/main.scss */
.asterix {
  color: red;
}

/* line 754, ../sass/main.scss */
.coon {
  position: absolute;
  top: 50px;
}

/* line 759, ../sass/main.scss */
.validation {
  display: none;
  text-align: center;
  margin: 66px 0;
  color: #1fb22c;
  font-size: 1.375em;
}

/*
*	FOOTER
*/
/* line 771, ../sass/main.scss */
footer {
  padding: 20px;
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  font-family: "Quicksand";
}
/* line 778, ../sass/main.scss */
footer a {
  color: white;
  text-decoration: none;
}
/* line 783, ../sass/main.scss */
footer .socials {
  margin: 0;
}
/* line 786, ../sass/main.scss */
footer .socials li {
  list-style: none;
  display: inline-block;
  margin: 0;
}
/* line 791, ../sass/main.scss */
footer .socials li.separator {
  width: 20px;
}
/* line 795, ../sass/main.scss */
footer .socials li i {
  font-size: 2.5em;
}

@media screen and (min-width: 640px) {
  /* line 805, ../sass/main.scss */
  .button_mobile {
    display: none;
  }

  /* line 809, ../sass/main.scss */
  form {
    width: 600px;
  }
  /* line 813, ../sass/main.scss */
  form .style_input input[type=text], form .style_input textarea {
    width: 600px;
  }

  /* line 819, ../sass/main.scss */
  .div_letter {
    width: 600px;
  }

  /* line 826, ../sass/main.scss */
  .bg.bg_perso .tastes {
    margin: 0 auto;
    width: 310px;
  }
  /* line 830, ../sass/main.scss */
  .bg.bg_perso .tastes .like, .bg.bg_perso .tastes .dislike {
    display: inline-block;
    vertical-align: top;
    width: 150px;
  }
  /* line 835, ../sass/main.scss */
  .bg.bg_perso .tastes .like ul, .bg.bg_perso .tastes .dislike ul {
    padding: 0;
  }
  /* line 841, ../sass/main.scss */
  .bg.bg_perso .bg_picture, .bg.bg_perso .text_perso {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    position: relative;
    top: -20px;
  }
  /* line 850, ../sass/main.scss */
  .bg.bg_perso:nth-child(even) .text_perso {
    left: -300px;
    text-align: right;
  }
  /* line 854, ../sass/main.scss */
  .bg.bg_perso:nth-child(even) .bg_picture {
    left: 300px;
  }

  /* line 862, ../sass/main.scss */
  .device .button_red {
    position: absolute;
    z-index: 3;
    bottom: 35px;
    right: 60px;
  }
  /* line 868, ../sass/main.scss */
  .device .swiper-container {
    height: 90%;
  }

  /* line 873, ../sass/main.scss */
  .picture_blindtest {
    width: 500px;
  }

  /* line 877, ../sass/main.scss */
  #miniatures {
    width: 640px;
  }

  /* line 881, ../sass/main.scss */
  .date_m {
    display: inline-block;
    margin-bottom: 20px;
    width: 300px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
    vertical-align: top;
  }
  /* line 890, ../sass/main.scss */
  .date_m:nth-child(2n+0) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1024px) {
  /* line 899, ../sass/main.scss */
  h1, h2 {
    line-height: 1;
  }

  /* line 903, ../sass/main.scss */
  .hide_pc {
    display: none;
  }

  /* line 908, ../sass/main.scss */
  .button_red:hover {
    background-color: white;
    color: #d42e1b;
  }
  /* line 914, ../sass/main.scss */
  .button_red:hover div i {
    color: white;
  }

  /* line 921, ../sass/main.scss */
  .menu {
    padding: 0;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 14px;
    font-family: "South Park";
    font-size: 1.6875em;
    display: block;
    text-align: center;
    position: relative;
    top: -15px;
  }
  /* line 933, ../sass/main.scss */
  .menu li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
  }
  /* line 938, ../sass/main.scss */
  .menu li a {
    width: 100%;
    display: block;
    color: white;
    text-decoration: none;
  }
  /* line 944, ../sass/main.scss */
  .menu li a.link_active {
    color: black;
  }
  /* line 948, ../sass/main.scss */
  .menu li a:hover {
    text-decoration: none;
    color: black;
  }

  /* line 955, ../sass/main.scss */
  .menu_mobile, .traits {
    display: none !important;
  }

  /* line 959, ../sass/main.scss */
  .menu_mobile li i {
    left: 126px;
  }

  /* line 967, ../sass/main.scss */
  #navigation .bandeau_top #logo {
    background-image: url("../img/logo2.png");
    background-repeat: no-repeat;
    width: 90px;
    height: 93px;
  }

  /* line 976, ../sass/main.scss */
  #container {
    max-width: 1024px;
    margin: 0 auto;
  }

  /* line 981, ../sass/main.scss */
  .date_effect {
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.6);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    color: #fff;
    zoom: 0;
    overflow: hidden;
  }
  /* line 994, ../sass/main.scss */
  .date_effect p {
    position: absolute;
    color: #fff;
    top: 45%;
    font-family: 'South Park';
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
  }
  /* line 1005, ../sass/main.scss */
  .date_effect i {
    font-size: 24px;
  }
  /* line 1010, ../sass/main.scss */
  .date_effect:hover {
    zoom: 100%;
    -webkit-transform: scale(0, 0) rotate(360deg);
    -moz-transform: scale(0, 0) rotate(360deg);
    -o-transform: scale(0, 0) rotate(360deg);
    -ms-transform: scale(0, 0) rotate(360deg);
    transform: scale(0, 0) rotate(360deg);
  }

  /*
  *	HOME
  */
  /* line 1025, ../sass/main.scss */
  .device {
    height: 600px;
  }
  /* line 1028, ../sass/main.scss */
  .device .arrow-left, .device .arrow-right {
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 0;
    display: block;
  }
  /* line 1033, ../sass/main.scss */
  .device .arrow-left {
    margin-left: -20px;
  }
  /* line 1036, ../sass/main.scss */
  .device .arrow-right {
    margin-right: -20px;
  }
  /* line 1041, ../sass/main.scss */
  .device:hover .arrow-left, .device:hover .arrow-right {
    opacity: 1;
  }
  /* line 1044, ../sass/main.scss */
  .device:hover .arrow-left {
    margin-left: 10px;
  }
  /* line 1047, ../sass/main.scss */
  .device:hover .arrow-right {
    margin-right: 10px;
  }

  /* line 1054, ../sass/main.scss */
  .bg.bg_yellow {
    background: none;
    margin-bottom: 40px;
  }
  /* line 1058, ../sass/main.scss */
  .bg.bg_yellow .yellow_picture {
    display: none;
  }
  /* line 1062, ../sass/main.scss */
  .bg.bg_video {
    max-width: 600px;
    margin: 0 auto;
  }

  /* line 1068, ../sass/main.scss */
  .persos {
    width: 940px;
    margin: 0 auto;
    height: 550px;
    border: solid 2px #4a6398;
  }
  /* line 1074, ../sass/main.scss */
  .persos .choose_perso {
    height: 64px;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: block;
  }
  /* line 1081, ../sass/main.scss */
  .persos .choose_perso li {
    list-style: none;
    display: inline-block;
    width: 235px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: 0;
    height: 100%;
    color: white;
    font-family: "South Park";
    padding: 22px 0;
    text-align: center;
    font-size: 20px;
    vertical-align: top;
    cursor: pointer;
    border-bottom: solid 5px #4a6398;
  }
  /* line 1097, ../sass/main.scss */
  .persos .choose_perso li.choose_perso_blue {
    background-color: #4a6398;
  }
  /* line 1100, ../sass/main.scss */
  .persos .choose_perso li.choose_perso_red {
    background-color: #c50a36;
  }
  /* line 1103, ../sass/main.scss */
  .persos .choose_perso li.choose_perso_green {
    background-color: #1fb22c;
  }
  /* line 1106, ../sass/main.scss */
  .persos .choose_perso li.choose_perso_orange {
    background-color: #da5a00;
  }
  /* line 1112, ../sass/main.scss */
  .persos h2 {
    display: none;
  }
  /* line 1117, ../sass/main.scss */
  .persos .bg.bg_perso {
    position: absolute;
    height: 382px;
    width: 940px;
    background-color: transparent;
    display: none;
    margin-top: 20px;
  }
  /* line 1126, ../sass/main.scss */
  .persos .bg.bg_perso .tastes .like, .persos .bg.bg_perso .tastes .dislike {
    position: relative;
    top: -100px;
    left: 20px;
  }
  /* line 1131, ../sass/main.scss */
  .persos .bg.bg_perso .tastes .like li, .persos .bg.bg_perso .tastes .dislike li {
    margin-bottom: 5px;
  }
  /* line 1137, ../sass/main.scss */
  .persos .bg.bg_perso .bg_picture {
    left: 0;
    margin-top: 30px;
  }
  /* line 1141, ../sass/main.scss */
  .persos .bg.bg_perso .bg_picture img {
    height: 300px;
  }
  /* line 1145, ../sass/main.scss */
  .persos .bg.bg_perso .text_perso {
    left: 30px;
    text-align: left;
    width: 550px;
  }
  /* line 1151, ../sass/main.scss */
  .persos .bg.bg_perso.bg_blue {
    display: block;
  }
  /* line 1153, ../sass/main.scss */
  .persos .bg.bg_perso.bg_blue h3 {
    color: #4a6398;
  }
  /* line 1158, ../sass/main.scss */
  .persos .bg.bg_perso.bg_red h3 {
    color: #c50a36;
  }
  /* line 1163, ../sass/main.scss */
  .persos .bg.bg_perso.bg_green h3 {
    color: #1fb22c;
  }
  /* line 1168, ../sass/main.scss */
  .persos .bg.bg_perso.bg_orange h3 {
    color: #da5a00;
  }

  /*
  *	BLINDTEST
  */
  /* line 1183, ../sass/main.scss */
  .block_blindtest li button:hover {
    font-size: 1.625em;
  }

  /*
  *	GALLERY
  */
  /* line 1195, ../sass/main.scss */
  .body_gallery #container {
    max-width: 90%;
  }

  /* line 1200, ../sass/main.scss */
  .gallery li {
    width: 500px;
    z-index: 0;
  }
  /* line 1204, ../sass/main.scss */
  .gallery li img {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
  }
  /* line 1209, ../sass/main.scss */
  .gallery li img:hover {
    -moz-transform: scale(1.02, 1.02);
    -ms-transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02);
    -moz-box-shadow: 5px 5px 20px 0 #000;
    -webkit-box-shadow: 5px 5px 20px 0 #000;
    box-shadow: 5px 5px 20px 0 #000;
    z-index: 1;
  }

  /* line 1217, ../sass/main.scss */
  .div_select_gallery {
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin: 50px 0 50px 73px;
  }
  /* line 1223, ../sass/main.scss */
  .div_select_gallery label, .div_select_gallery select {
    width: auto;
    outline: none;
  }

  /*
  *	CONTACT
  */
  /* line 1235, ../sass/main.scss */
  form {
    width: 800px;
  }
  /* line 1239, ../sass/main.scss */
  form .style_input input[type=text], form .style_input textarea {
    width: 800px;
  }

  /* line 1245, ../sass/main.scss */
  .div_letter {
    width: 800px;
  }

  /*
  *	CALENDAR
  */
  /* line 1253, ../sass/main.scss */
  #miniatures {
    width: 940px;
    margin: 0 auto;
  }

  /* line 1258, ../sass/main.scss */
  .date:nth-child(4n+0) {
    margin-right: 42px;
  }

  /* line 1262, ../sass/main.scss */
  .date_m {
    display: none;
  }

  /* line 1267, ../sass/main.scss */
  .date {
    display: inline-block;
  }

  /*
  *	FOOTER
  */
  /* line 1277, ../sass/main.scss */
  footer a:hover {
    text-decoration: underline;
  }
  /* line 1285, ../sass/main.scss */
  footer .socials li a:hover.twitter {
    color: #4099FF;
  }
  /* line 1288, ../sass/main.scss */
  footer .socials li a:hover.facebook {
    color: #3B5998;
  }
}
